<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div>
            Люблю я сюрпрзы
            <div>
                Любить буду
            </div>
            {% block javascripts %}{% endblock %}
            <div>
                Жага жага
            </div>
        </div>
    </body>
</html>
